// -------------------------- графдизайн
.ident_page{
    margin-left: 36px;
    @media screen and (max-width:720px) {
        margin-left: 0px;
    }
    h2{
        font-family: 'Mont';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        margin-bottom: 24px;
        @media screen and (max-width:720px) {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 20px;
        }
    }
    h3{
        font-family: Mont;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 16px;
    }
    ul.figure{
        list-style-type: none;
        margin-bottom: 24px;
        li{
            position:relative;
            font-family: Mont;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;     
            color: #979797;
            padding-left: 25px;

            & + li {
                margin-top: 8px;
            }
            &::before{
                position:absolute;
                content:'';
                left:0;
                top:5px;
                width:10px;
                height:10px;
                background-image: url('data:image/svg+xml,%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5 10L0 5L5 0L5 10Z" fill="white"/%3E%3Cpath d="M10 5L5 10L5 0L10 5Z" fill="black"/%3E%3Cpath d="M5.00293 2.83015L7.17355 5.00077L5.00293 7.17139V2.83015Z" fill="white"/%3E%3Cpath d="M2.83203 4.99979L5.00265 2.82917V7.17041L2.83203 4.99979Z" fill="black"/%3E%3C/svg%3E%0A');
                background-repeat: no-repeat;
                background-position: center;
            }
            @media screen and (max-width:520px){
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
    ul.simple{
        list-style-type: none;
        margin-bottom: 24px;
        li{
            position: relative;
            font-family: Mont;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #979797;
            margin-bottom:0;
            padding-left: 11px;
            &::before{
                position:absolute;
                content:'';
                left:0;
                top:50%;
                transform: translateY(-50%);
                width:6px;
                height:6px;
                background-image: url('data:image/svg+xml,%3Csvg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M3.00293 0.830145L5.17355 3.00077L3.00293 5.17139L3.00293 0.830145Z" fill="%23979797"/%3E%3Cpath d="M0.832031 2.99991L3.00265 0.829291L3.00265 5.17053L0.832031 2.99991Z" fill="%23979797"/%3E%3C/svg%3E%0A');                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .heading{
        font-family: 'Mont';
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 58px;
        color: #000000;
        margin-bottom: 40px;
        @media screen and (max-width:1440px) {
            font-size: 38px;
            line-height: 48px;
            margin-bottom: 30px;
        }
        @media screen and (max-width:720px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 20px;
        }
        @media screen and (max-width:520px) {
            font-size: 36px;
            line-height: 42px;
        }
    }
    .main_img{
        position:relative;
        width: 100%;
        padding-top: 60%;
        @media screen and (max-width:1690px){
            padding-top: 69.5%;
        }
        @media screen and (max-width:1281px){
            padding-top: 55%;
        }
        @media screen and (max-width:520px){
            padding-top: 69%;
        }
        .img{
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .subject_block{
        padding:50px 0;
        display:flex;
        justify-content: space-between;
        @media screen and (max-width:1441px) {
            padding:40px 0;
        }
        @media screen and (max-width:991px) {
            flex-direction: column;
        }
        @media screen and (max-width:720px) {
            flex-direction: column;
            padding:30px 0;
        }
        @media screen and (max-width:520px) {
            padding:25px 0;
            h2{
                margin-bottom: 12px;
            }
        }
        .left{
            p{
                font-family: Mont;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: #979797;
                b, strong{
                    color:#000000;
                    font-family: Mont;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
        .right{
            width:auto;
            display:flex;
            flex-direction: column;
            padding-top:6px;
            @media screen and (max-width:991px) {
                padding-top:60px;
                .main_btn{
                    width:210px;
                }
            }
            .main_btn{
                & + .main_btn{
                    margin-top: 24px;
                }
            }
        }
        .use_packet{
            display:flex;
            align-items:center;
            @media screen and (max-width:520px){
                flex-direction:column;
                align-items:flex-start;
            }
            span{
                font-family: Mont;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: #979797;
            }
            span{
                margin-right: 16px;
                @media screen and (max-width:520px){
                    margin-right: 0;
                    margin-bottom: 8px;
                }
            }
            button{
                background:none;
                border:none;
                font-family: Mont;
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
                line-height: 24px;
                color: #000000;
                padding: 0;
                cursor: pointer;
            }
        }
    }

    .cost_block{
        padding-bottom: 35px;
        @media screen and (max-width:720px) {
            padding-bottom: 15px;
        }
        @media screen and (max-width:520px){
            padding-top: 30px;
            padding-bottom: 35px;
            h2{
                font-size: 24px;
                line-height: 32px;
            }
        }
        .field{
            display:flex;
            flex-wrap: wrap;
            margin:0 -15px;
            margin-top: -15px;
            counter-reset: count; 
            .packet{
                border: 2px solid #000000;
                background: #FFFFFF;
                padding:32px;
                padding-right: 28px;
                padding-top: 80px;
                width:calc( 33.333% - 30px);
                margin:15px;
                min-height: 330px;
                position:relative;
                display:flex;
                flex-direction: column;
                overflow: hidden;
                cursor: pointer;
                @media screen and (max-width:1441px) {
                    width:calc( 50% - 30px);
                }
                @media screen and (max-width:992px) {
                    width:calc( 100% - 30px);
                }
                @media screen and (min-width:720px) {
                    &:hover{
                        .help{
                            transform: translateY(0);
                        }
                        &::before{
                            opacity:1;
                            color:#000000;
                        }
                    }
                }
                &:active{
                    .help{
                        transform: translateY(0);
                    }
                    &::before{
                        opacity:1;
                        color:#000000;
                    }
                }
                .help{
                    position:absolute;
                    bottom:0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height:56px;
                    background:#000000;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 5;
                    transform: translateY(100%);
                    transition: transform .3s;
                    span{
                        font-family: Mont;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 12px;
                        line-height: 15px;                        
                        text-align: center;
                        letter-spacing: 0.08em;
                        text-transform: uppercase;
                        
                        color: #FFFFFF;
                    }
                }

                &::before{
                    counter-increment: count; 
                    content:counter(count,decimal-leading-zero);
                    position:absolute;
                    top: 32px;
                    left: 32px;
                    font-family: 'Mont';
                    font-size: 48px;
                    line-height: 48px;                   
                    opacity: 0.8;
                    color:#FFFFFF;
                    -webkit-text-stroke: 0.5px #000000;
                    z-index: 1;
                    transition:opacity .3s, color .3s;
                    @media screen and (max-width:720px) {
                        font-size: 30px;
                        line-height: 30px;
                        top: 20px;
                        left: 20px;
                    }
                    @media screen and (max-width:520px){
                        font-size: 48px;
                        line-height: 48px;
                        left: 32px;
                        top: 28px;
                    }
                }
                p{
                    font-family: Mont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    color: #000000;
                    position:relative;
                    z-index: 1;
                    transition:color .3s;
                }
                .term{
                    font-family: Mont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    color: #979797;
                    z-index: 1;
                    transition:color .3s;
                }
                h2{
                    transition:color .3s;
                    position:relative;
                    z-index: 1;
                }
                .bot{
                    margin-top: auto;
                    z-index: 1;
                    .cost{
                        span:first-child{
                            font-family: Mont;
                            font-style: normal;
                            font-weight: 800;
                            font-size: 18px;
                            line-height: 22px;
                            color: #000000;
                            margin-right: 24px;
                            transition:color .3s;
                        }
                        span:last-child{
                            font-family: Mont;
                            font-style: normal;
                            font-weight: 800;
                            font-size: 18px;
                            line-height: 22px;
                            color: #979797;
                            transition:color .3s;
                        }
                    }
                }
                @media screen and (max-width:720px) {
                    width:calc( 50% - 30px);
                    padding: 20px;
                    padding-top: 50px;
                }
                @media screen and (max-width:520px){
                    width:calc( 100% - 30px);
                    padding: 32px;
                    padding-right: 20px;
                    padding-top: 80px;
                    margin:12px 15px;
                }
            }
        }
    }
    .develop_block{
        padding:50px 0;
        @media screen and (max-width:1441px) {
            padding:40px 0;
        }
        @media screen and (max-width:720px) {
            padding:30px 0;
        }
        @media screen and (max-width:520px) {
           h2{
            font-size: 24px;
            line-height: 32px;
           }
        }
        p,strong,li,b{
            color: #979797;
            position: relative;
        }
        p{
            margin-bottom: 0;
        }
        strong,b{
            margin-bottom: 8px;
            display:block;
            @media screen and (max-width:520px) {
                margin-bottom: 0;
            }
        }
        p + strong{
            margin-top: 16px;
        }
        p + b{
            margin-top: 16px;
        }
        .graph{
            margin-top: 32px;
            @media screen and (max-width:520px) {
                margin-top: 20px;
            }
            p{
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;     
                & + p {
                    margin-top: 8px;
                } 
            }
        }
    }

    .packeage_block{
        position:relative;
        padding:50px 0;
        counter-reset: countP; 
        @media screen and (max-width:1441px) {
            padding:40px 0;
        }
        @media screen and (max-width:720px) {
            padding:30px 0;
        }
        @media screen and (max-width:520px) {
            padding-top: 54px;
        }
        .packeage{
            position: relative;
            border-top: 2px solid #979797;
            border-bottom: 2px solid #979797;
            border-left: 2px solid #FFFFFF;
            border-right: 2px solid #FFFFFF;
            padding-top: 107px;
            padding-bottom: 40px;
            transition: border .3s, padding .3s;
            .comeback{
                position:absolute;
                top:50%;
                transform: translateY(-50%) rotate(-90deg);
                left: calc(100% + -22px);
                max-width: 170px;
                border: none;
                background:none;
                width:100%;
                text-align: center;
                cursor: pointer;
                padding-right: 50px;
                display:none;
                span{
                    font-family: Mont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    color: #000000;
                }
                svg{
                    position: absolute;
                    transform: rotate(90deg);
                    right: 0;
                    top: -10px; 
                }
                @media screen and (max-width:1441px) {
                    left: calc(100% + -40px);
                }
                @media screen and (max-width:1281px) {
                    left: calc(100% + -60px);
                }
                @media screen and (max-width:991px) {
                    left: calc(100% + -70px);
                }
            }
            &+.packeage.active{
                border-top:2px solid #000000;
            }
            &.active{
                border:2px solid #000000;
                padding-left: 40px;
                padding-right: 40px;
                @media screen and (max-width:520px){
                    border-left:2px solid transparent ;
                    border-right:2px solid transparent ;
                    padding-left: 0;
                    padding-right: 0;
                }
                .comeback{
                    display:block;
                }
                
                &::before{
                    right:40px;
                    color:#000000;
                    opacity:1;
                    -webkit-text-stroke:transparent;
                    @media screen and (max-width:520px){
                        right: 32px;
                    }
                }
                .packet{
                    left:40px;
                    @media screen and (max-width:520px){
                        left:0px;
                    }
                }
                .stiky{
                    display:none;
                }
                @media screen and (max-width:520px){
                    .name{
                        margin-right: 15px;
                    }
                    .stiky{
                        display:block;
                        position:absolute;
                        top:-2px;
                        left:0;
                        width:100%;
                        padding-top: 96px;
                        background:#FFFFFF;
                        border-top: 2px solid #000000;
                        z-index: 10;
                        &.end{
                            top:auto;
                            bottom:0;
                        }
                        &.fixed{
                            position:fixed;
                            top: 81px;
                            padding-left: 22px;
                            padding-right: 22px;
                            .packet{
                                left: 22px;
                                top: 36px;
                            }
                            .count{
                                right: 54px;
    top: 22px;
                            }
                            .comeback{
                                left: calc(100% + -116px);
                            }
                        }
                        .count{
                            position:absolute;
                            font-size: 52px;
                            line-height: 52px;
                            right: 32px;
                            top: 23px;
                            font-family: Mont;
                            font-style: normal;
                            font-weight: 800;
                            font-size: 52px; 
                            color: #000000;
                            
                        }
                        .comeback{
                            left: calc(100% + -94px);
                            padding-right: 8px;
                            // left: auto;
                            // right: 0;top:auto;
                            // bottom:0;
                            // transform:rotate(0);
                            // padding-right: 10px;
                            // width:auto;
                            
                            // svg{
                            //     transform:rotate(0);
                            //     position:relative;
                            //     left:auto;
                            //     top:auto;
                            //     margin-left: 5px;
                            // }
                        }
                    }
                }

            }
            & + .packeage{
                border-top: none;
            }
            &::before{
                counter-increment: countP; 
                content:counter(countP,decimal-leading-zero);
                position:absolute;
                top: 32px;
                right: 0;
                font-family: 'Mont';
                font-weight: 800;
                font-size: 72px;
                line-height: 75px;                
                opacity: 0.8;
                color:#FFFFFF;
                -webkit-text-stroke: 0.5px #000000;
                transition:right .3s,color .3s,opacity .3s;
                @media screen and (max-width:1441px) {
                    top: 25px;
                    font-weight: 800;
                    font-size: 38px;
                    line-height: 38px;            
                }
                @media screen and (max-width:720px) {
                    top: 10px;
                    font-size: 30px;
                    line-height: 30px;
                }
                @media screen and (max-width:520px) {
                    font-size: 52px;
                    line-height: 52px;
                    top: 24px;
                }
            }

            .packet{
                position:absolute;
                left:0;
                top: 32px;
                font-weight: 800;
                font-size: 48px;
                line-height: 58px;
                -webkit-text-stroke: 0.75px #000000;
                color:#FFFFFF;
                @media screen and (max-width:1441px) {
                    top: 25px;
                    font-weight: 800;
                    font-size: 38px;
                    line-height: 38px;            
                }
                @media screen and (max-width:720px) {
                    top: 10px;
                    font-size: 30px;
                    line-height: 30px;
                }
                @media screen and (max-width:520px) {
                    font-size: 36px;
                    line-height: 36px;
                    top: 38px;
                }
            }
            .name{
                font-weight: 800;
                font-size: 52px;
                line-height: 42px;
                margin-bottom: 32px;
                padding-left: 50px;
                @media screen and (max-width:1441px) {
                    font-size: 38px;
                    line-height: 40px;    
                    margin-bottom: 25px;        
                }
                @media screen and (max-width:720px) {
                    font-size: 30px;
                    line-height: 40px;
                    margin-bottom: 20px;
                }
                @media screen and (max-width:520px) {
                    font-size: 44px;
                    line-height: 42px;
                    padding-left: 0;
                    margin-bottom: 50px;
                    min-height: 80px;
                }
                @media screen and (max-width:330px) {
                    font-size: 40px;
                    line-height: 42px;
                    padding-left: 0;
                    margin-bottom: 50px;
                    min-height: 80px;
                }
            }
            .field{
                display: flex;
                justify-content: space-between;
                min-height: 520px;
                @media screen and (max-width:1441px) {
                    min-height: 400px;
                }
                @media screen and (max-width:992px) {
                    flex-direction: column;
                }
                @media screen and (max-width:721px) {
                    flex-direction: row;
                }
                @media screen and (max-width:521px) {
                    flex-direction: column;
                }
                .block{
                    .name{
                        font-weight: 800;
                        font-size: 24px;
                        line-height: 32px;
                        margin-bottom: 8px;
                        padding-left: 0;
                        @media screen and (max-width:720px) {
                            font-size: 20px;
                            line-height: 28px;
                        }
                        @media screen and (max-width:520px) {
                            font-size: 24px;
                            line-height: 32px;
                            min-height: auto;
                        }
                    }
                    @media screen and (max-width:521px) {
                        &+.block{
                            margin-top: 20px;
                        }
                        &+.block.bot{
                            margin-top: 20px;
                        }
                    }
                }
                .left,.right{
                    display:flex;
                    flex-direction: column;
                    min-width: 50%;
                    .block.bot{
                        margin-top: auto;
                        @media screen and (max-width:521px) {
                            margin-top: 20px;
                        }
                    }
                    ul.figure{
                        padding-left: 25px;
                        li{
                            max-width: 380px;

                            & + li{
                                margin-top: 4px;
                            }
                        }
                    }
                }
                .right{
                    padding-left: 7%;
                    @media screen and (max-width:1441px) {
                        padding-left: 3.5%;
                    }
                    @media screen and (max-width:992px) {
                        padding-left: 0;
                    }
                    @media screen and (max-width:720px) {
                        padding-left: 2%;
                    }
                    @media screen and (max-width:520px) {
                        padding-left: 0;
                        padding-top: 10px;
                    }
                }
            }
            .price{
                padding-top: 30px;
                @media screen and (max-width:1441px) {
                    padding-top: 10px;
                }
                @media screen and (max-width:720px) {
                    padding-top: 10px;
                }
                span:first-child{
                    font-weight: 800;
                    font-size: 36px;
                    line-height: 42px;
                    margin-right: 24px;
                    @media screen and (max-width:1441px) {
                        font-size: 32px;
                        line-height: 40px;
                    }
                    @media screen and (max-width:720px) {
                        font-size: 30px;
                        line-height: 40px;
                    }
                }
                span:last-child{
                    font-weight: 800;
                    font-size: 36px;
                    line-height: 42px;
                    color: #979797;
                    @media screen and (max-width:1441px) {
                        font-size: 32px;
                        line-height: 40px;
                    }
                    @media screen and (max-width:720px) {
                        font-size: 30px;
                        line-height: 40px;
                    }
                }
                @media screen and (max-width:520px) {
                    padding-top: 0;
                    span:first-child{
                        font-size: 36px;
                        line-height: 42px;
                        display: block;
                        margin-bottom: 4px;
                    }
                    span:last-child{
                        font-size: 36px;
                        line-height: 42px;
                        display: block;
                    }
                }
            }
            @media screen and (max-width:1441px) {
                padding-top: 80px;
                padding-bottom: 20px;            
            }
            @media screen and (max-width:720px) {
                padding-top: 50px;
                padding-bottom: 20px;
            }
            @media screen and (max-width:520px) {
                padding-top: 96px;
                padding-bottom: 48px;
            }
        }
    }
}
// pdf reader popup
.pdf_wrapper{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    min-height: 100vh;
    height:auto;
    overflow:auto;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    display:none;
    transition:opacity .3s;
    z-index: 99999;
    padding: 108px 0;
    @media screen and (max-width:1181px){
        padding: 60px 0;
    }
    @media screen and (max-width:540px){
        padding: 40px 0;
    }
    &.show{
        opacity: 1;
    }
    &.block{
        display:block; 
    }
    .container{
        max-width: 1570px;
        margin: 0 auto;
        padding: 0 80px;
        @media screen and (max-width:1181px){
            padding: 0 60px;
        }
        @media screen and (max-width:540px){
            padding: 0 20px;
        }
    }
    .closeBtn{
        width: 42px;
        height: 42px;
        position: absolute;
        right: 0;
        top: -55px;
        min-width:auto;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:0;
        background:#FFFFFF!important;
        svg path{
            fill:#000000;
            transition:fill .3s;
        }
        @media screen and (min-width:710px){
            &:hover{
                svg path{
                    fill:#FFFFFF;   
                }
            }
        }
        &:active{
            svg path{
                fill:#FFFFFF;   
            }
        }
        
        @media screen and (max-width:1580px){
            right:20px;
        }
        @media screen and (max-width:1181px){
            right:10px;
            top: -21px;
        }
    }
    .field{
        display:flex;
        justify-content:center;
        position: relative;
        #pdf{
            width:100%;
            height:auto;
        }
    }
    .decription{
        width:100%;
        text-align: center;
        font-family: Mont;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px; 
        color: #FFFFFF;
        padding-top: 66px;
    }
    .slider_container{
        margin:0 -20px;
        padding:0 20px;
        overflow:hidden;
    }
    .swiper_pdf{
        width:100%;
        padding-top: 30px;
        position:relative;
        .swiper-slide{
            position:relative;
            cursor: pointer;
            padding-top: 23%;

            // width:calc( 25% - 15px );
            width:auto;
            @media screen and (max-width:1181px){
                padding-top: 30%;
            }
            @media screen and (max-width:761px){
                padding-top: 80%;
            }
            img{
                position:absolute;
                left:0;
                top:0;
                width:100%;
                height:100%;
                object-position: center;

            }
        }
        .swiper-button-next, .swiper-button-prev{
            width:42px;
            height:42px;
            padding:0;
            display:flex;
            justify-content:center;
            align-items: center;
            background:#FFFFFF;
            margin-top: -11px;
            cursor: pointer;
            overflow: hidden;
            svg{
                z-index: 1;
            }
            svg path{
                transition:fill .3s;
            }
            &::before{
                content:'';
                position:absolute;
                left:-5px;
                top:-5px;
                width:calc( 100% + 11px);
                height:calc( 100% + 11px);
                background:#000000;
                transform: translateX(-100%);
                transition:transform .3s;
                clip-path: polygon(0 0, 0 100%, 100% 100%);
            }
            &::after{
                content:'';
                position:absolute;
                right:-5px;
                top:-5px;
                width:calc( 100% + 11px);
                height:calc( 100% + 11px);
                background:#000000;
                transform: translateX(100%);
                transition:transform .3s;
                clip-path: polygon(0 0, 100% 0, 100% 100%);
            }
            @media screen and (min-width:760px){
                &:hover{
                    svg path{
                        fill:#FFFFFF;
                    }
                    &::before{
                        transform: translateX(0%);
                    }
                    &::after{
                        transform: translateX(0%);
                    }
                }
            }
            &:active{
                svg path{
                    fill:#FFFFFF;
                }
                &::before{
                    transform: translateX(0%);
                }
                &::after{
                    transform: translateX(0%);
                }
            }
        }
        .swiper-button-next{
            right:-20px;
        }
        .swiper-button-prev{
            left:-20px;
        }
    }
    #pdf_loading{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
        background: rgba(0, 0, 0, 0.5);
        padding-top: 100px;
        &.hide{
            display:none;
        }
    }
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
}
.uncelectable{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;  
}
.popup_block.consultationPopup{
    width: 77.5%;
    background: #F9F9F9;
    @media screen and (max-width:991px){
        width: 100%;
    }
    .popupWrap{
        @media screen and (max-width:760px){
            padding-top: 20px;
            padding-bottom:20px;
        }
        @media screen and (max-width:540px){
            padding-top: 0;
            padding-bottom:0;
        }
    }
    .close{
        @media screen and (max-width:991px){
            right: 20px;
            top:10px;
        }
    }
    .cosultation{
        z-index: 1;

        .h2.middle{
            position: relative;
            @media screen and (max-width:760px){
                padding-right: 45px;
            }
            @media screen and (max-width:540px){
                font-size: 28px;
                line-height: 28px;
                margin-bottom: 20px;
            }
        }
    }
    
    .logo{
        position:absolute;
        right:0;
        top:0;
        width: 33%;
        padding-top: 32%;
        img{
            position:absolute;
            left:0;top:0;
            width:100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    #consultationForm{
        padding-top: 40px;
        @media screen and (max-width:991px){
            padding-top: 20px;
            padding-bottom:0;
        }
        @media screen and (max-width:540px){
            padding-top: 0;
            padding-bottom:0;
        }
        .orderFormContent{
            margin-bottom: 0;
        }
        .flexable{
            display:flex;

        }
        .customPadd{
            padding-top: 54px;
            @media screen and (max-width:760px){
                padding-top: 0;
            }
        }
        .bot{
            display:flex;
            align-items: flex-end;
        }
        .formControll{
            display:flex;
            align-items:flex-end;
            justify-content: flex-start;
            &.loading{
                pointer-events: auto!important;
                .main_btn.no_bg.with_hover.submit.black{
                    opacity: 1!important;;
                }
            }
            .graphic{
                margin-left: 41%;
                padding:16px 32px;
                background: #FFFFFF;
                @media screen and (max-width:1280px){
                    margin-left: 20%;
                }
                @media screen and (max-width:860px){
                    margin-left: 2%;
                }
                @media screen and (max-width:760px){
                    padding:5px 5px;
                }
                @media screen and (max-width:540px){
                    display:none;
                }
                h4{
                    font-family: Mont;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 16px; 
                    margin-bottom: 16px;
                    color: #000000;
                    text-transform: none;
                    @media screen and (max-width:760px){
                        margin-bottom: 5px;
                        font-size: 12px;
                        line-height: 12px; 
                    }
                }
                p{
                    margin-bottom: 0;
                    font-family: Mont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    color: #000000;
                    text-transform: none;
                    @media screen and (max-width:760px){
                        font-size: 11px;
                    line-height: 11px;
                    }
                    & + p {
                        margin-top:8px;
                        @media screen and (max-width:760px){
                            margin-bottom: 2px;
                        }
                    }
                }
            }
            @media screen and (max-width:991px){
                justify-content: space-between;
                height:auto;
                &:not(.clone) {
                    display: flex!important;
                }
                &::after{
                    background:none;
                    top:auto;

                }
            }
        }
    }
}
.popup_block.thanksPopup{
    width: 77.5%;
    background: #F9F9F9;
    @media screen and (max-width:991px){
        width: 100%;
    }
    .close{
        @media screen and (max-width:991px){
            right: 20px;
            top:10px;
        }
    }
    .logo{
        position:absolute;
        right:0;
        bottom:0;
        width: 33%;
        padding-top: 37%;
        img{
            position:absolute;
            left:0;top:0;
            width:100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .popupWrap{
        display: flex;
        align-items: center;
        .cosultation{
            .h2.middle{
                max-width:518px;
                font-weight: 800;
                font-size: 54px;
                line-height: 64px;
                @media screen and (max-width:540px){
                    font-size: 28px;
                    line-height: 28px;
                    margin-bottom: 20px;
                }
            }
            .op{
                font-family: Mont;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: #979797;
                margin-bottom: 24px;
            }
            .hraph{
                margin-bottom: 50px;
                h5{
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 16px;
                }

                p{
                    font-family: Mont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    color: #000000;
                    &+p{
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}

.catalogPage .pagination{
    margin-top: -28px;
}
.catalogPage .portfolio_detail{
    margin-left: 36px;
    h1{
        font-family: Mont;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 58px;
        color: #000000;
        margin-bottom: 40px;
        @media screen and (max-width:540px){
            font-size: 36px;
            line-height: 42px;
        }
    }
    h2{
        font-family: Mont;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        margin-bottom: 15px;
        @media screen and (max-width:540px){
            font-size: 18px;
            line-height: 24px;
        }
    }
    h3{
        font-family: Mont;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        @media screen and (max-width:540px){
            font-size: 16px;
            line-height: 24px;
        }
    }
    .main_img{
        position:relative;
        width:100%;
        padding-top: 69.5%;
        img{
            position: absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .subject_block{
        padding-top:50px;
        padding-bottom: 25px;
        display: flex;
        justify-content: space-between;
        .left{
            width: 66%;
            min-width: 300px;
            max-width: 688px;
            .table{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 32px;
                
                div{
                    height: 48px;
                    display:flex;
                    align-items: center;
                    border:0.5px solid  #979797;
                    margin: -0.5px;
                    &:nth-child(odd){
                        width: 70%;
                        justify-content: flex-start;
                        padding-left: 31px;
                    }
                    &:nth-child(even){
                        width: 30%;
                        justify-content: flex-end;
                        padding-right: 31px;
                    }
                    span{
                        font-family: Mont;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #979797;
                    }
                }
            }
            .graph{
                p{
                    margin-bottom: 0;
                    font-family: Mont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    color: #979797;
                    & + p {
                        margin-top: 8px;
                    }
                }
            }
        }
        .right{
            margin-left: 20px;
            padding-top: 45px;
        }
    }
    .images_content{
        padding-top:50px;
        padding-bottom: 26px;
        .field{
            display:flex;
            flex-wrap: wrap;
            margin: 0 -17px;
            &.reverse{
                flex-direction:row-reverse;
            }
            .big{
                width: calc( 67% - 34px );
                margin:0 17px;
                .wrap{
                    position:relative;
                    width: 100%;
                    padding-top: 68.5%;
                    img{
                        position:absolute;
                        left: 0;
                        top:0;
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                    }
                }
            }
            .small{
                width: calc( 33% - 34px );
                margin:0 17px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .wrap{
                    position:relative;
                    width: 100%;
                    padding-top: 70.5%;
                    img{
                        position:absolute;
                        left: 0;
                        top:0;
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .pagination{
        margin-top: 80px;
    }
    .text_field{
        padding-top: 90px;
        .field{
            margin-bottom: 10px;
            max-height: 130px;
            overflow: hidden;
            transition: max-height 1s;
            -webkit-line-clamp: 4; /* количество строк */
            -webkit-box-orient: vertical;
            overflow: hidden;
            h2{
                margin-bottom: 25px;
            }
            p{
                font-family: 'Mont';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #979797;
                margin-bottom: 25px;
            }
            ul{
                list-style-type: none;
                li{
                    position: relative;
            font-family: Mont;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #979797;
            margin-bottom:0;
            padding-left: 11px;
            &::before{
                position:absolute;
                content:'';
                left:0;
                top: 9px;
                width:6px;
                height:6px;
                background-image: url('data:image/svg+xml,%3Csvg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M3.00293 0.830145L5.17355 3.00077L3.00293 5.17139L3.00293 0.830145Z" fill="%23979797"/%3E%3Cpath d="M0.832031 2.99991L3.00265 0.829291L3.00265 5.17053L0.832031 2.99991Z" fill="%23979797"/%3E%3C/svg%3E%0A');                background-repeat: no-repeat;
                background-position: center;
            }
            & + li{
                margin-top: 20px;
            }
                }
            }
        }
        .toggle_text{
            border:none;
            background:none;
            padding: 0;
            display: flex;
            align-items: center;
            padding: 5px 0;
            cursor: pointer;
            svg{
                margin-left:4px;
                transition: transform .3s;
            }
            .less{
                display:none;
            }
            .more{
                display:block;
            }
            &.show{
                svg{
                    transform: rotate(180deg);
                }
                .less{
                    display:block;
                }
                .more{
                    display:none;
                }
            }
            span{
                font-family: 'Mont';
                font-style: normal;
                font-weight: 800;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.01em;
                text-transform: uppercase;   
                color: #000000;
            }
        }
    }
}